.img{
    height: 100px;
    width: auto;
    }
    .nav-items{
        display: flex;
        list-style-type: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
        border: 2px solid black;
    }
    .nav-items>li{
        padding: 10px;
        margin: 10px;
        font-size: 20px;
    }
    
    .res-card{
        height: 300px;
        width: 180px;
        border:2px solid black;
        padding: 10px;
        margin: 10px;
    }
    .res-img{
        height: 150px;
        width: 180px;
    }
    .body{
        display: flex;
        flex-wrap: wrap;
    }